@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@600&family=Source+Code+Pro&display=swap');

/* themeで既にある程度整っているが，気に入らない部分もあるので，このcssでオーバーライドする */

* {
    scroll-behavior: smooth;
}

/* フォントの設定 */
/* 通常の文章 */
:not(code),
:not(code):not(span) {
    font-family: 'Klee One', cursive;
}

/* コードブロック */
code,
code span {
    font-family: 'Source Code Pro', monospace;
}

/* postのcover画像の設定 */
figure.entry-cover img {
    width: 100vw;
    height: 30vh;
    object-fit: cover;
}

/* 記事内のヘッダー(hタグ)に関する設定 */
.post-content h1 {
    margin-top: 150px;
    padding-left: 15px;
    border-left: var(--content) 20px solid;
}

.post-content h2 {
    margin-top: 100px;
    padding-left: 10px;
    border-left: var(--content) 15px solid;
}

.post-content h3 {
    margin-top: 50px;
    padding-left: 10px;
    border-left: var(--content) 10px solid;
}

.post-content h4 {
    padding-left: 5px;
    border-left: var(--content) 7.5px solid;
}

.post-content h5 {
    padding-left: 5px;
    border-left: var(--content) 5px solid;
}

.post-content h6 {
    padding-left: 5px;
    border-left: var(--content) 3px solid;
}

/* archivesページの設定 */
.archive-entry-title {
    padding-left: 5px;
    border-left: var(--content) 5px solid;
}
